body{
  background-color: rgb(177, 207, 207);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  body {
    background-color: hsl(352, 48%, 73%);
    color: rgb(10, 10, 10);
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: #d3d373;
    color: rgb(8, 8, 8);
  }
}