body{
  background-color: #b1cfcf;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  body {
    background-color: #db99a2;
    color: #0a0a0a;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: #d3d373;
    color:  #080808;
  }
}
